body{
    background: #8d9faa;
}

div{
    position: fixed;
    background: #5a7233;
    width:60vw;
    height: 60vh;
    border-radius: 15px 15px;
    text-align: center;
    left:25%;
    top:15%;
    vertical-align: middle;
    padding-top: 20vh;
}

input{
    margin: 10px;
    width: 30vw;
    height: 8vh;
    
}