p{
    position: fixed;
    top:85%;
    background: #3e4f24;
    color: aliceblue; 
    height: 40px;
    font-weight: 30px;
    padding: 10px;
}
nav{
    display: flex;
    justify-content:space-around;
    border: 1px solid #3e4f24;
    margin-top: 5px;
    cursor: pointer;
    height: 25px;
    overflow: auto;
}
nav:hover{
    background:#75a32f;
}
span{
    display: flex;
    justify-content:space-around;
    background: #3e4f24;
    width: 100%;
    height: 30px;
    padding: 2px;
    margin:auto;
    color: aliceblue;
}
* {
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px; 
    color: #666;
}
input, textarea { 
    outline: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #5a7233;
}
h2 {
    margin-top: 0;
    font-weight: 500;
    color:#3e4f24;
}
form {
    position: relative;
    width: 85%;
    height: 70vh;
    border-radius: 30px;
    background: #fff;
    overflow: scroll;
}
.form-left-decoration,
.form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: #5a7233;
}
.form-left-decoration {
    bottom: 60px;
    left: -30px;
}
.form-right-decoration {
    top: 40px;
    right: -40px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
    content: "";
    position: absolute;
    width: 110px;
    height: 30px;
    border-radius: 30px;
    background: #fff;
}
.form-left-decoration:before {
    top: -20px;
}
.form-left-decoration:after {
    top: 20px;
    left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: -5px;
}
.form-right-decoration:after {
    top: 20px;
    right: -20px;
}
.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}
.form-inner {
    padding: 40px;
}
.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
}
.form-inner textarea {
    resize: none;
}
.btn{
    height: 70px;
    cursor: pointer;
    background: #2e3b1a;
}
button {
    width: 100%;
    height: 30%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid #3e4f24;
    background: #3e4f24; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
button:hover {
    background: #5a7233;
    box-shadow: 2px 2px 7px #000;
} 
@media (min-width: 568px) {
form {
    width: 60%;
    }
}

.hours{
    align-items: center;
    margin: auto;
}